{% extends  'chair812/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="text-center">Авторизация</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Введите логин и пароль</h4>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {{ form|crispy }}

                <button type="submit" class="btn btn-primary btn-block">Вход</button>
            </form>
        </div>
    </div>
{% endblock %}