table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}



th, td:first-child, td:last-child{
    background: #00008B;
    color: white;
    padding:  -1px 20px;
}


th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #00008B;
}



th:first-child, td:first-child {
    text-align: left;
}

form input {
    #background: #D8E6F3;
    border: none;
    text-align: center;
}



table tr:hover td{
    background: #87CEFA; /* Цвет фона при наведении */
    color: #000; /* Цвет текста при наведении */
   }